
body {
    heigh:665px;
    background-image: url("https://i.pinimg.com/originals/ae/94/48/ae94481e07fd39a444cb27a03c31d621.jpg");
    background-size: 10rem;
}

table{
    background-color: rgb(71, 140, 94);
    border: black 3px solid;
}

#text{
    background-color:rgb(130, 100, 211);
    border: black 3px solid;
    margin: 15px;
    height: 190px;
    width: 700px;
}

#contacto{
    background-color:rgb(130, 100, 211);
    border: black 3px solid;
    margin: 15px;
    height: 300px;
    width: 250px;
}